[submodule "spd-test"]
	path = spd-test
	url = ./spd-test
[submodule "spl-test"]
	path = spl-test
	url = ./spl-test
[submodule "sph-test"]
	path = sph-test
	url = ./sph-test
[submodule "integerValue13"]
	path = integerValue13
	url = ./integerValue13
[submodule "spl2-test"]
	path = spl2-test
	url = ./spl2-test
[submodule "import-test"]
	path = import-test
	url = ./import-test
